body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 0;
    margin-top: 0;
}

a{
    text-decoration: none;
    color: currentColor;
}

ul{
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
}

address{
    font-style: normal;
}

button{
    cursor: pointer;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

.container{
    width: 1158px; 
    padding: 0 15px;
    margin: 0 auto;
} 

.header-container{
  display: flex;
  align-items: center;
  
}

.header{
    border-bottom: 1px solid #e7e9fc;
    margin: 0 auto;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08); 
}

.header-navigation{
    display: flex;
    align-items: center;
}

.header-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:  #4d5ae5;
    margin-right: 76px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-logo-part{
    color: #2e2f42
}

.header-list{
    display: flex;
    gap: 40px;
}

.header-link-title:hover{
    color: #404bbf;
    transition: background-color 250ms cubic-bezier(0.4,0,0.2,1);}

.header-link-title:focus{
    color: #404bbf;
    transition: background-color 250ms cubic-bezier(0.4,0,0.2,1);
}

.header-link-title{
   font-weight: 500;
   font-size: 16px; 
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #2e2f42;
   padding: 24px 0;
   display: block;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;

}
.header-item-menu:nth-child(1) .header-link-title{
    position: relative;
    color: #404bbf;
}

.header-item-menu:nth-child(1) .header-link-title::after{
    position: absolute;
    display: block;
    content: '';
    border-radius: 2px;
    bottom: -1px;
    width: 48px;
    height: 4px;
    background: #404bbf;
}

.contacts-container{
    display: flex;
    gap: 40px;
   
  
}  

.contacts-link:hover{
    color: #404bbf;  
    transition: background-color 250ms cubic-bezier(0.4,0,0.2,1);
}

.contacts-link:focus{
    color: #404bbf;
    transition: background-color 250ms cubic-bezier(0.4,0,0.2,1);
}

.contacts{
    font-style: normal;
    margin-left: auto;
}

.contacts-link{
   font-weight: 400;
   font-size: 16px; 
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #434455;
   padding-top: 24px;
   padding-bottom: 24px;
   display: block;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}



.hero{
  padding: 188px 0 188px; 
  background: #2e2f42;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}


.hero-head{
   font-weight: 700;
   font-size: 56px; 
   line-height: 1.07;
   letter-spacing: 0.02em;
   text-align: center;
   color: #fff;
   max-width: 496px;
   margin: 0 auto;
   margin-bottom: 48px;
}


.hero-button-service:hover,
.service-button-type:focus
{
    background-color: #404BBF;
    transition: background-color 250ms cubic-bezier(0.4,0,0.2,1);
}


.hero-button-service{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4,0,0.2,1);
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 16px 32px;
    gap: 10px;
    margin: 0 auto;
}
    
.visually-hidden{
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
 }

.about-list{
    display: flex;
}

.about{
    padding: 120px 0 120px;
}

.about-icon{
   
}
.about-container{
    border: 1px solid #8e8f99;
    background: #f4f4fd;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 8px;
}

.about-item{
    margin-right: 24px;
    gap: 24px;
    width: calc((100% - 72px) / 4);
}

.about-item:last-child{
    margin-right: 0;
}

.about-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.about-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.team{
    background-color: #F4F4FD;
    padding: 120px 0 120px;
}

.team-list{
    display: flex;
    gap: 24px;
}

.team-item{
    border-radius: 0 0 4px 4px;
    width: calc((100% - 72px) / 4);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}


.wraper-team{
    padding: 32px 0 32px;
}

.team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}


.team-caption-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center; 
    margin-bottom: 8px
}
 
.team-text-copy{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    margin-bottom: 8px;
}


.team-list-social{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
   
}

.team-link-icons{
    width: 100%;
    height: 100%;
    background-color:  #4d5ae5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.team-social-icons{
    fill: #f4f4fd;
}

.team-link-icons:hover{
   background-color: #404bbf;
   transition-property: inherit;
   transition: background-color 250ms cubic-bezier(0.4,0,0.2,1);
}

.team-link-icons:focus{
    background-color: #404bbf;
    transition: background-color 250ms cubic-bezier(0.4,0,0.2,1);
}

.footer-portfolio{
    padding: 120px 0 120px 0;
}

.portfolio-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
    padding-top: 120px;
}

.portfolio-list{
   display: flex;
   flex-wrap: wrap;
   column-gap: 24px;
   row-gap: 48px;

}

.portfolio-item{
  width: calc ((100% -48) /3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.portfolio-caption{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-container{
    padding: 32px 16px;
    border: 1px solid #e7e9fc; 
    border-top: none;

}
.portfolio-container-wrap{
    position: relative;
    overflow: hidden;
}



.portfolio-item:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
}

.portfolio-item:hover .portfolio-cover-text{
  transform: translateY(0%);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-cover-text{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background: #4d5ae5;
    padding: 40px 32px;
    display: flex;
   transform: translateY(100%);
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
   
}


.portfolio-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

 .footer {
    padding: 100px 0;
    background: #2e2f42;
}

.footer-container-logo{
   margin-right: 120px;
  
   
  
}
.container-footer-wrap{
    background: #2e2f42;
    display: flex;
    align-items: baseline;
    margin: 0 auto;
    width: 1158px; 
    padding: 0 15px;
    margin: 0 auto;
}

.footer-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-flex;
    margin-bottom: 16px;
}

.footer-logo-part{
    color: #f4f4fd;
}

.footer-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.footer-social-container{
   display: inline-block;
   justify-content: center;
 }

.footer-social-media{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
margin-bottom: 16px;
}

.footer-social-icons{
    fill: #f4f4fd;
}

.footer-list-social{
    display: flex;
    justify-content: center;
    gap: 16px;

}

.footer-link-icons{
    width: 100%;
    height: 100%;
    background-color:  #4d5ae5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-link-icons:hover{
    background-color: #31d0aa;
    transition-property: inherit;
    transition: background-color 250ms cubic-bezier(0.4,0,0.2,1);
}

.footer-link-icons:focus{
    background-color: #31d0aa; 
    transition: background-color 250ms cubic-bezier(0.4,0,0.2,1);
}

.footer-subscribe-wrap{
 margin-left: auto;   
}


.subscribe-form-footer{
display: flex;
gap: 24px;
}

.footer-subscribe-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff; 
    margin-bottom: 16px;
}

.subscribe-form-input{
border: 1px solid #fff;
border-radius: 4px;
width: 264px;
height: 40px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background-color: transparent;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
padding-left: 16px;
color: #ffffff; 
}

.subscribe-form-input::placeholder{
color: #ffffff; 

}


.button-subscribe{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background: #4d5ae5;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.footer-subscribe-icon{
    fill: #fff;
    margin-left: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
    
.backdrop{
  position: fixed;
  top: 0;
  background-color: rgba(46, 47, 66, 0.4);;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.modal{
    position: absolute;
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%); 
    padding: 72px 24px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-close-button{
    position: absolute;
    top: 24px;
    right: 24px;
    background-color: #e7e9fc;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover{
    background-color: #404bbf;
    border: none;
    border-color: #404bbf;
}

.modal-close-button:focus{
    background-color: #404bbf;
    border: none;
    border-color: #404bbf;
}

.modal-close-button:focus .button-close-icon{
    fill: #ffffff;
}

.modal-close-button:hover .button-close-icon{
    fill: #ffffff;
}

.button-close-icon{
    width: 8px;
    height: 8px;
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title-text{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}
.modal-input-user{
    width: 100%;
    height: 40px;
     border-radius: 4px;
    padding-left: 38px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
}
.modal-input-user:hover{
    border: 1px solid #4d5ae5;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}    

.modal-input-user:focus{
    border-color: #4D5AE5;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input-user:focus + .modal-icons-user{
    fill: #4d5ae5;
}


.modal-input-user::placeholder{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.modal-label{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.container-modal-box{
    position: relative;
    margin-bottom: 8px;
}

.modal-form-input{
    position: relative;
}

.modal-icons-user{
    position: absolute;
    width: 18px;
    height: 24px;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-modal-comment{
    position: relative;
    margin-bottom: 16px;
}
.modal-text-user{
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em; 
    color: rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding: 8px 16px;
    outline: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    resize: none;  
}

.modal-text-user:focus{
    border-color: #4D5AE5;
}

.modal-checkbox-wrap{
    margin-bottom: 24px;
    
}

.modal-accept{
    font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;

}

.user-accept-vector{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-modal-accept{
    line-height: 1.33333;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}
.modal-checkbox{
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;    
}
.user-privacy-icon{
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;
    fill: transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox:checked + .modal-accept .user-privacy-icon {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}
.button-submit-send{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    margin: 0 auto;
    display: block;
    border: none;
    cursor: pointer; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-submit-send:hover,
.button-submit-send:focus{
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);  
    background-color: #404BBF;
}


